h1 {
	color: #75C5B9;
	font-size:20;
	font-family: 'Open Sans', serif;
	text-align: center;
}
body {
	background-color: #fff;
}
p {
	text-align: center;
	font-size:16;
	font-family: 'Open Sans', serif;
	color: #000;
}
img {
	text-align: center;
}